@keyframes translate {
  100% {
    transform: translate(0, 80%);
  }
}
.send-anim {
  display: block;
  animation: translate 2s forwards;
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 101;
  position: absolute;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: rgba(40, 41, 55, 0.75);
  align-items: center;
  display: flex;
}
.modal-block-login {
  height: 634px !important;
}
.modal-block, .modal-block-login {
  height: 917px;
  margin: auto;
  max-width: 920px;
  padding: 50px 304px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: #272937;
}
.modal-block-send, .modal-block-login-send {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: rgba(0, 0, 0, 0.1);
  padding: 25px 35px;
  border: 1px solid #fff;
}
.modal-block-send h1, .modal-block-login-send h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.modal-block-send h1 span, .modal-block-login-send h1 span {
  font-size: 18px;
  line-height: 150%;
  display: block;
}
.modal-block h2, .modal-block-login h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.modal-block-contacts a, .modal-block-login-contacts a {
  margin-left: 15px;
}
.modal-block-contacts a:first-child, .modal-block-login-contacts a:first-child {
  margin-left: 0;
}
.modal-block .custom-field, .modal-block .custom-field-login, .modal-block-login .custom-field, .modal-block-login .custom-field-login {
  position: relative;
  margin-top: 25px;
}
.modal-block .custom-field input, .modal-block .custom-field-login input, .modal-block-login .custom-field input, .modal-block-login .custom-field-login input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 15px;
  background: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  width: 294px;
}
.modal-block .custom-field label, .modal-block .custom-field-login label, .modal-block-login .custom-field label, .modal-block-login .custom-field-login label {
  padding: 0 3px;
  position: absolute;
  top: -9px;
  left: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  background: #272937;
}
.modal-block .custom-field p, .modal-block .custom-field-login p, .modal-block-login .custom-field p, .modal-block-login .custom-field-login p {
  margin-top: 5px;
  position: relative;
  padding-left: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #f04451;
}
.modal-block .custom-field p::before, .modal-block .custom-field-login p::before, .modal-block-login .custom-field p::before, .modal-block-login .custom-field-login p::before {
  content: url("../Image/Logo/unfollowing_rules.svg");
  position: absolute;
  left: 0px;
}
.modal-block .castom-field:first-child, .modal-block-login .castom-field:first-child {
  margin-top: 30px;
}
.modal-block .checkbox-field, .modal-block-login .checkbox-field {
  margin-top: 25px;
}
.modal-block .checkbox-field__text, .modal-block-login .checkbox-field__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}
.modal-block .checkbox-field__text a, .modal-block-login .checkbox-field__text a {
  color: #f04451;
}
.modal-block .checkbox-field .custom-checkbox-cont, .modal-block-login .checkbox-field .custom-checkbox-cont {
  position: absolute;
  top: 0;
  left: -5px;
}
.modal-block .checkbox-field .custom-checkbox-cont .custom-checkbox, .modal-block-login .checkbox-field .custom-checkbox-cont .custom-checkbox {
  position: relative;
  display: flex;
}
.modal-block .checkbox-field .custom-checkbox-cont .custom-checkbox input[type=checkbox], .modal-block-login .checkbox-field .custom-checkbox-cont .custom-checkbox input[type=checkbox] {
  display: none;
}
.modal-block .checkbox-field .custom-checkbox-cont .custom-checkbox .checkbox-box, .modal-block-login .checkbox-field .custom-checkbox-cont .custom-checkbox .checkbox-box {
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
}
.modal-block .checkbox-field .custom-checkbox-cont .custom-checkbox .checkbox-box::before, .modal-block-login .checkbox-field .custom-checkbox-cont .custom-checkbox .checkbox-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 2px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}
.modal-block .checkbox-field .custom-checkbox-cont .custom-checkbox input[type=checkbox]:checked + .checkbox-box::before, .modal-block-login .checkbox-field .custom-checkbox-cont .custom-checkbox input[type=checkbox]:checked + .checkbox-box::before {
  transform: translate(-50%, -50%) scale(1);
}
.modal-block button, .modal-block-login button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
  background: #f04451;
  border-radius: 15px;
  padding: 20px 35px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 25px;
}
.modal-block .modal-acc, .modal-block-login .modal-acc {
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.modal-block .modal-acc span, .modal-block-login .modal-acc span {
  cursor: pointer;
  color: #f04451;
}
.modal-block__or, .modal-block-login__or {
  position: relative;
  text-align: center;
  max-width: 294px;
}
.modal-block__or::before, .modal-block-login__or::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  left: 10px;
  top: 45%;
  width: 105px;
  height: 1px;
  background: white;
}
.modal-block__or::after, .modal-block-login__or::after {
  content: "";
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 45%;
  width: 105px;
  height: 1px;
  background: white;
}/*# sourceMappingURL=modal.css.map */