body {
    background: #343849;
    padding-top: 50px;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1345px;
    margin: 0 auto;
}

header {
    ul {
        li {
            margin-right: 45px;
            a {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
    .login {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 104px;
    }
    .register {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 40px;
        box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
        background: #f04451;
    }
}

.swiper-pagination {
    position: absolute;
    left: 50px !important;
    top: 50% !important;
    transform: translate(0, -50%);
}
.swiper-pagination-bullet {
    max-width: 2.1875rem;
    max-height: 2.1875rem;
}
.swiper-pagination-bullet-active {
    background: white;
}
main {
     .swiper {
        max-height: 67vh;
        .first {
            padding-top: 147px;
            position: relative;
            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 64px;
                line-height: 110%;
                text-transform: uppercase;
                color: #fff;
            }
            &__subtitle {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-align: left;
                color: #fff;
                opacity: 0.5;
            }
            &-lists {
                ul {
                    li {
                        list-style: disc;
                        color: #f04451;
                        span {
                            font-family: "Raleway", sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 140%;
                            color: #fff;
                            opacity: 0.75;
                        }
                    }
                }
            }
            &-buttons {
                &__connect {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: 0.04em;
                    color: #fff;
                    box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
                    background: #f04451;
                }
                &__about {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: 0.04em;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
            &__pres {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                opacity: 0.5;
            }
        }
     }
}