body {
    background: #343849;
    padding-top: 50px;
    
}

.container {
    max-width: 1345px;
    margin: 0 auto;
}

header {
    ul {
        li {
            margin-right: 45px;
            a {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
    .login {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 104px;
    }
    .register {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 40px;
        box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
        background: #f04451;
    }
}

main {
    margin-top: 147px;
     .swiper {
        max-height: 74.2vh;
        .first {
            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 64px;
                line-height: 110%;
                text-transform: uppercase;
                color: #fff;
            }
            &__subtitle {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-align: left;
                color: #fff;
                opacity: 0.5;
            }
            &-lists {
                ul {
                    li {
                        list-style: disc;
                        color: #f04451;
                        span {
                            font-family: "Raleway", sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 140%;
                            color: #fff;
                            opacity: 0.75;
                        }
                    }
                }
            }
        }
     }
}