body {
    background: #090b19;
    max-height: 100vh;
    overflow-y: hidden;
    position: relative;
}

.container {
    max-width: 1345px;
    margin: 0 auto;
}

.span-act {
    opacity: 0;
    display: block !important;
    animation: spanAct 2s forwards;
}
@keyframes spanAct {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.375;
    }
    100% {
        opacity: 0.75;
    }
}
@keyframes moreInfo {
    0% {
        height: 80px;
    }
    50% {
        height: 70.5px;
    }
    100% {
        height: 141px;
    }
}
@keyframes littleInfo {
    0% {
        height: 141px;
    }
    50% {
        height: 70.5px;
    }
    100% {
        height: 80px;
    }
}
.quest-act {
    animation: 1.5s moreInfo forwards;
}
.quest-hid {
    animation: 1.5s littleInfo forwards;
}


header {
    position: absolute;
    z-index: 100;
    top: 0;
    padding-top: 50px;
    width: 100%;
    ul {
        li {
            margin-right: 45px;
            a {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
    .login {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 104px;
    }
    .register {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 40px;
        box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
        background: #f04451;
    }
}

.mainp {
    position: absolute;
    left: 50px !important;
    top: 50% !important;
    transform: translate(0, -50%);
    z-index: 0;
    max-width: 10%;
    
}
.swiper-pagination {
    z-index: 20;
}
.swiper-pagination-bullet {
    max-width: 2.1875rem;
    max-height: 2.1875rem;
    background: white;
    opacity: 0.25;
}
.swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}
.act {
    border: 2px solid #fff;
    opacity: 1 !important;
    border-radius: 15px 15px 0 0;
}
main {
    
     .swiper {
        max-height: 100vh;
        //padding-top: 258px;
        &-slide {
            overflow: hidden;
            .first__pres {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                opacity: 0.5;
                text-align: center;
            }
        }
        .first {
            background: #272937 url('../Image/img/Background.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 258px;
            position: relative;
            overflow: hidden;
            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 64px;
                line-height: 110%;
                text-transform: uppercase;
                color: #fff;
            }
            &__subtitle {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                text-align: left;
                color: #fff;
                opacity: 0.5;
            }
            &-lists {
                ul {
                    li {
                        list-style: disc;
                        color: #f04451;
                        span {
                            font-family: "Raleway", sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 140%;
                            color: #fff;
                            opacity: 0.75;
                        }
                    }
                }
            }
            &-buttons {
                &__connect {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: 0.04em;
                    color: #fff;
                    box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
                    background: #f04451;
                }
                &__about {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: 0.04em;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
        .second {
            background: #222432 url('../Image/img/background-second.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 355px;
            &-right {
                h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 600;
                    font-size: 46px;
                    line-height: 150%;
                    color: #fff;
                }
                &__subtitle {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: #fff;
                }
                &__btn {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: 0.04em;
                    color: #fff;
                    box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
                    background: #f04451;
                }
            }
        }
        .fourth {
            background: #1D1F2D url('../Image/img/background-third.png');
            background-repeat: no-repeat;
            background-size: cover;
            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 46px;
                line-height: 150%;
                color: #fff;
            }
            h2 {
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                color: #fff;
            }
            p {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #fff;
                opacity: 0.75;
            }
        }
        .third {
            background: #181A28 url('../Image/img/background-fourth.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 68px;
            padding-right: 68px;
            padding-top: 273px;
            &__title {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 46px;
                line-height: 150%;
                text-align: center;
                color: #fff;
            }
            &-inner {
                max-width: 275px;
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-radius: 15px;
                padding-top: 83px;
                padding-bottom: 105px;
                h2 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #fff;
                    text-align: center;
                }
                .swiper {
                    margin-top: 20px;
                    overflow: hidden;
                    .swiper-slide {
                        p {
                            font-family: "Raleway", sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 140%;
                            text-align: center;
                            color: #fff;
                            opacity: 0.75;
                        }
                    }
                    &-pagination {
                        position: absolute;
                        bottom: 82px;
                    }
                    &-button-next::after {
                        font-size: 16px;
                        color: white;
                    }
                    &-button-prev::after {
                        font-size: 16px;
                        color: white;
                    }
                }
            }
        }
        .fifth {
            background: #131523 url('../Image/img/background-fifth.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 46px;
                line-height: 150%;
                text-align: center;
                color: #fff;
            }
            &-tabs {
                &-tablist {
                    &-tab {
                        font-family: "Raleway", sans-serif;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 150%;
                        text-align: center;
                        color: #fff;
                        opacity: 0.5;
                        img {
                            margin-bottom: 12px;
                        }
                    }
                }
                &-content {
                    border: 2px solid white;
                    max-width: 885px;
                    margin: 0 auto;
                    padding: 46px 48px;
                    border-radius: 15px;
                    position: relative;
                    p {
                        font-family: "Raleway", sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        text-align: center;
                        color: #fff;
                        opacity: 0.75;
                    }
                }
                &-arrow {
                    position: absolute;
                    padding: 13.24px 19.5px;
                    border-radius: 15px;
                    border: 1px solid #fff;
                    top: 48px;
                    cursor: pointer;
                }
                #right {
                    right: -86px;
                }
                #left {
                    left: -86px;
                }
                margin-bottom: 127px;
            }
            &__conect {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                padding: 20px 35px;
                border-radius: 15px;
                box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
                background: #f04451;
                margin-left: 50%;
                transform: translate(-50%, 0);
            }
        }
        .sixth {
            background: #0E101E url('../Image/img/background-sixth.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .seventh {
            background: #090B19 url('../Image/img/background-seventh.png');
            background-repeat: no-repeat;
            background-size: cover;
            .dashes {
                opacity: 0.15;
                position: absolute;
                top: -580px;
                width: 300vh;
                height: 2200px;
                border-radius: 100%;
                border: 2px white dashed;
            }
            &-point {
                position: absolute;
                // left: 487px;
                // top: 623px;
                h1 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 100;
                    font-size: 64px;
                    text-align: left;
                    color: #fff;
                }
                p {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: #fff;
                    opacity: 0.75;
                    margin-bottom: 11px;
                }
            }
        }
        .eighth {
            padding-top: 211px;
            background: #040614 url('../Image/img/background-eighth.png');
            background-repeat: no-repeat;
            background-size: cover;
            h1 {
                font-family: "Raleway", sans-serif;
                font-weight: 600;
                font-size: 46px;
                line-height: 150%;
                text-align: left;
                color: #fff;
            }
            // top: 270px;
            // left: 239px;
            p {
                overflow: hidden;
                cursor: pointer;
                border: 1px solid #fff;
                border-radius: 15px;
                padding: 21px 25px;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 24px;
                color: #fff;
                span {
                    display: none;
                    margin-top: 10px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: #fff;
                    opacity: 0.75;
                }
            }
        }
        .footer {
            background: #00010F url('../Image/img/background-footer.png');
            background-repeat: no-repeat;
            background-size: cover;
            .container {
                align-items: start;
                .cont-top {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }
                .cont-bot {
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    text-align: center;
                    color: #fff;
                    opacity: 0.5;
                }
            }
            
            &-col {
                padding-top: 5px;
            }
            h2 {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                opacity: 0.5;
                margin-bottom: 50px;
            }
            ul {
                li {
                    margin-bottom: 40px;
                    a {
                        font-family: "Raleway", sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        color: #fff;
                    }
                }
                li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}